@import "../../Assets/variables";

.ReactKonvaPage {
  .containerIntroduction {
    h1 {
      font-size: $titleTextSize;
      color: $firstColor;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 10px;
    }
  }
}
