@import "./assets/variables";


* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: $defaultTextSize;
  font-family: sans-serif;
  letter-spacing: 1px;
}

body {
  background-color: $backgroundColor;
}