@import "../../assets/variables";

.HomePage {
  h1 {
    font-size: $titleTextSize;
    text-align: center;
    margin-bottom: 40px;
    color: $firstColor;
  }
  section {
    margin-bottom: 40px;
    h2 {
      font-size: $subTitleTextSize;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 10px;
      text-align: justify;
    }
    ul {
      li {
        width: 95%;
        margin: 0px auto;
        margin-bottom: 10px;
        text-align: left;
      }
    }
  }
}
